<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new Article</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>

<body>

    <div class="container">
       <h1 class="m-2">New Article</h1> 
       <div class="form-group">
       <form action="/blogs" method="post">
            <label for="title">Title</label>
            <input name="title" value="<%= article.title%>" class="form-control" id="title" required >
            <label for="desc">Description</label>
            <input name="desc"  value="<%= article.desc%>" class="form-control" id="desc" required>
            <label for="text">Article</label>
            <textarea name="text" class="form-control" required><%= article.text%></textarea>
            <a href="/blogs" class="btn btn-secondary mt-2">Go Back</a>
            <button type="submit" class="btn btn-success mt-2">Save</button>
       </form>
    </div>
</div>
</body>

</html>